<form action="/products" method="GET">
<div class="container-fluid">

  <h1>What are you looking for?</h1>
  <div class="d-flex col-md-8 col-sm-12 col-xl-6 my-3">
  <input class="flex-fill" type="text" name="q" id="searchInput" placeholder="Search products..." value="<%= q%>">
  
  <input type="hidden" id="address" name="address">
  <input type="hidden" id="lat" name="lat" value="">
  <input type="hidden" id="lng" name="lng" value="">



  <button type="submit" class="btn btn-primary">Search</button>


</div>

<div class="d-flex col-md-8 col-sm-12 col-xl-6 my-3">
<a>distance   </a> <br></br>
<input class="flex-fill" type="range" id="radiusSlider" name="range" min="1" max="50" value="<%= range%>">
</div>

</form>
<style>
  /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
  #map {
    height: 600px;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

</div>
<div class="container-fluid row">
  <div class="col-sm-6">

<div id="map"></div>
<div class="my-3">
  <h1>Where are you?</h1>
  <div class="d-flex">
  <input class="flex-fill" type="text" id="addressInput" placeholder="Enter an address">
  <button type="button" class="btn btn-primary" onclick="geocodeAddress()">Find Adress</button>
</div>
</div>

<% if (userLocation) { %>
  <script>
    // Safely initialize userLocation as a global JavaScript variable
    var userLocation = <%- JSON.stringify(userLocation) %>;
  </script>
  <% } %>

    <% if (pinLocation) { %>
      <script>
        // Safely initialize userLocation as a global JavaScript variable
        var pinLocation = <%- JSON.stringify(pinLocation) %>;
        pinLocation = pinLocation.reverse()
      </script>
      <% } %>

        <% if (products) { %>
          <script>
            // Safely initialize products as a global JavaScript variable
            var products = <%- JSON.stringify(products) %>;
          </script>
          <% } %>

            <script src="/js/mapLogic.js"></script>

            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxJvrodMZmejSbwGnMpnrICC36ZSGlqW8&callback=initMap"></script>



<!-- 
            <div id="markerAddressDisplay">Address will be shown here</div> -->

          </div>

            <div class="col-sm-6">
            <% if (products.length===0) { %>
              <p>No products available.</p>
              <% } else { %>
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                  <% products.forEach(product=> { %>
                    <div class="col">
                      <img class="card-img-top" src="<%= product.images[0]%>">
                      <h2>
                        <a href="/products/<%= product._id %>"><%= product.name %></a>
                      </h2>
                      <p>Description: <%= product.description %>
                      </p>
                      <p>Price: <%= product.price %>
                      </p>
                      <p>User: <%= product.userId.username %>
                      </p>
                    </div>
                    <% }) %>
                <% } %>
                </div>
              </div>
            </div>
          </div>
            