
<form action="/products" method="GET">
    <h1>Product Search</h1>
    <input type="text" name="q" id="searchInput" placeholder="Search products...">
    <button type="submit">Search</button>
</form>

    


<% if (products.length === 0) { %>
    <p>No products available.</p>
<% } else { %>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <h2><%= product.name %></h2>
                <p>Description: <%= product.description %></p>
                <p>Price: <%= product.price %></p>
                <!-- can delete when i fix the data -->
                <% if (product.userId && product.userId.username){%>  
                <p>User: <%= product.userId.username %></p>
                <%}%>
                <!-- Display images for the product -->
                <img src ="<%= product.images[0]%>">
            </li>
        <% }) %>
    </ul>
<% } %>

