


<div class="container my-5">
  <h2 class="mb-4">Create Product</h2>
  <form action="/products/" method="POST" enctype="multipart/form-data">
      <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="form-control" value="<%= product.name %>" required>
      </div>
      <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" class="form-control" required><%= product.description %></textarea>
      </div>
      <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" name="price" class="form-control" step="0.01" value="<%= product.price %>" required>
      </div>
      <input type="hidden" id="userId" name="userId" value="<%= userId %>">
      <div class="form-group">
          <label for="images">Images:</label>
          <input type="file" id="images" name="images" class="form-control-file" multiple required>
      </div>
      <input type="hidden" id="lat" name="lat" value="">
      <input type="hidden" id="lng" name="lng" value="">
      <input type="hidden" id="address" name="address" value="">
      
      <div class="form-group my-3">
          <input type="text" id="addressInput" class="form-control" placeholder="Enter an address">
          <button type="button" class="btn btn-black text-light mb-3" onclick="geocodeAddress()">Geocode</button>
      </div>
      <style>
        /* Always set the map height explicitly to define the size of the div
                    * element that contains the map. */
        #map {
          height: 300px;
        }
    
        /* Optional: Makes the sample page fill the window. */
        html,
        body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
      <div id="map" class="mb-3"></div>
      
      <% if (userLocation) { %>
          <script>
              var userLocation = <%= JSON.stringify(userLocation) %>;
          </script>
      <% } %>
      <script src="/js/mapLogicNoCircle.js"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxJvrodMZmejSbwGnMpnrICC36ZSGlqW8&callback=initMap"></script>
      <div id="markerAddressDisplay" class="mb-3">Address will be shown here</div>
      <div class="form-group">
          <label for="addressDesc">Address Description:</label>
          <input type="text" id="addressDesc" name="addressDesc" class="form-control">
      </div>
      <button type="submit" class="btn btn-black text-light">Submit</button>
  </form>
</div>
