<!DOCTYPE html>
<script>  //this only needs to ever be this short to show one pin so ig it can stay here
  // JavaScript to initialize Google Map
  function initMap() {
    // Product coordinates
    var productCoordinates = <%- JSON.stringify(product.location.coordinates) %>;

    // Create a map centered at the product coordinates
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12, // Adjust zoom level as needed
      center: { lat: productCoordinates[1], lng: productCoordinates[0] } // Coordinates in [longitude, latitude] format
    });

    // Create a marker at the product location
    var marker = new google.maps.Marker({
      position: { lat: productCoordinates[1], lng: productCoordinates[0] },
      map: map,
      title: "<%= product.name %> Location" // Optional: Tooltip text for marker
    });
  }
</script>

<!-- Call the initMap function after Google Maps API is loaded -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxJvrodMZmejSbwGnMpnrICC36ZSGlqW8&callback=initMap"></script>
<html lang="en">

<head>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
  <script>
    var bookedDates = <%- JSON.stringify(bookedDates) %>
  </script>
  <script src="\js\bookingLogic.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= product.name %> Detail
  </title>
  <style>
    /* CSS for map container */
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>

<body>


  <div class="container-fluid">
    <div class="container-xl">
  <h1>
    <%= product.name %>
  </h1>
  <p><%= product.description %>
  </p>
  <p><%= product.price %> Euro/day
  </p>
  <p>by: <a href="../users/show/<%= product.userId._id %>"><%= product.userId.username %></a>
  </p>

  <h3 class="mt-3">Images:</h3>
  <div id="carouselExampleIndicators" class="carousel slide overflow-hidden" data-bs-ride="carousel" style="height: 300px;">
    <div class="carousel-inner">
      <% product.images.forEach((image, index) => { %>
        <div class="carousel-item <% if (index === 0) { %> active <% } %>">
          <img src="<%= image %>" class="d-block" style="height: 300px; " alt="Product Image">
        </div>
      <% }); %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  


</div>
</div>


<div class="container-fluid">
  <div class="container-xl mt-3">
  <h3>Location:</h3>

  <!-- Map container -->
  <div id="map"></div>

  <% if (product.location.address) { %>
    <p>Address: <%= product.location.address %>
    </p>
    <% } %>
      <% if (product.location.addressDesc) { %>
        <p>Address Description: <%= product.location.addressDesc %>
        </p>
        <% } %>

</div>
</div>



<div class="container-fluid ">
  <div class="container-xl ">
    <h3 class="mt-3">Book Item</h3>
<div class="row">
  <div class="col-sm-8">
    
    <style>
      .fc-event-title-container{
        background-color: #dcc3c3;
      }
      .fc-daygrid-day-number{
        color:#000000;
      }
      .fc-col-header-cell-cushion{
        color:#000000
      }
      .fc-event-title{
        color:#000000
      }
    </style>
        <div id='calendar' class=""></div>
        
      </div>
      <div class="col-sm-4 mt-5">
        <h3>Book this Product</h3>
        <p><%= product.price %> Euro/day
        </p>
        <form id="bookingForm" action="/products/<%= product._id %>/bookings" method="POST">
          <input type="hidden" id="startDate" name="startDate" value="">
          <input type="hidden" id="endDate" name="endDate" value="">
          <!-- Additional input fields for booking details -->
          <!-- For example, input fields for the user's name and email -->
          <input type="hidden" id="bookedBy" name="bookedBy" value=<%=userId%> required>
          <button class="btn btn-black text-light" type="submit">Book Now</button>
        </form>
      </div>
      </div>
    </div>
  </div>
    <div class="container-fluid py-3">
      <div class="container-xl mt-3">
        <h3>Reviews</h3>
        <br>
        <a> Average Rating </a>
        <a>
          <%= averageRating %>
        </a>
    
        <div id="reviewCarousel" class="carousel slide pb-5" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% var index = 0; %>
            <% reviews.forEach(review => { %>
              <% if(index % 4 === 0) { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <div class="container-fluid">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
              <% } %>
                        <div class="g-5 col">
                            <div class="card-body bg-primary p-3">
                                <p class="card-text"><%= review.text %></p>
                                <p class="card-text"><%= review.rating %>/5</p>
                                <p class="card-text">By: <%= review.reviewer.username %></p>
                            </div>
                        </div>
              <% if((index + 1) % 4 === 0 || (index + 1) === reviews.length) { %>
                    </div>
                  </div>
                </div>
              <% } %>
              <% index++; %>
            <% }); %>
          </div>

        </div>
        
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-black text-light me-2" type="button" data-bs-target="#reviewCarousel" data-bs-slide="prev">Previous</button>
          <button class="btn btn-black text-light" type="button" data-bs-target="#reviewCarousel" data-bs-slide="next">Next</button>
        </div>
        
    
      </div>
    </div>
  

  <!-- Form for Leaving a Review -->
  <div class="container-fluid">
    <div class="container-xl">
    <h2>Leave a Review</h2>
    <form id="reviewForm" action="/products/<%= product._id %>/reviews" method="POST">
      <div class="mb-3">
        <label for="rating" class="form-label">Rating (out of 5):</label>
        <input type="number" id="rating" name="rating" min="1" max="5" required class="form-control">
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Review:</label>
        <textarea id="text" name="text" required class="form-control"></textarea>
      </div>
      <!-- Additional input fields for review details -->
      <!-- For example, input fields for the reviewer's name and email -->
      <input type="hidden" id="reviewer" name="reviewer" value="<%= userId %>" required>
      <button type="submit" class="btn btn-black text-light">Submit Review</button>
    </form>
  </div>
</div>
  
        </body>

</html>